
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>اضافة طلب</h1>
                <p class="text-muted"></p>
                 
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-pencil"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="رقم الوصل " autocomplete="username" required>
                    
                  </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="اسم المستلم" autocomplete="username" required>
                
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><li class="icon-location-pin d-block"></li></span>
                  </div>
                  <input type="text" class="form-control" placeholder="عنوان المستلم" autocomplete="email" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-location-pin d-block"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="المنطقة" autocomplete="new-password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder=" رقم هاتف" autocomplete="new-password" required>
                 
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder=" رقم هاتف اخر" autocomplete="new-password" required>
                  
                  </div>
                <button type="button" class="btn btn-block btn-success">اضافة </button>
              </form>
            </div>
            <div class="card-footer p-4">
              <!-- <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    