.app-body {
	background: linear-gradient(90deg, #c5d5f4, #6b98cc);
    width: 100%;
    margin-top: 0;		
}
.card{
    width: 330px;
    height: 600px;
    border-radius: 5%;
}
.btn{
    background: linear-gradient(90deg, #c5d5f4, #6b98cc);
    border-color:  linear-gradient(90deg, #c5d5f4, #6b98cc);
    color: white;
}
.card-body{
    margin-top: 20%;
}
.car {
    position: relative;
    animation-name: car;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
  }
  
  @keyframes car {
    from {
   
    left:0%; top:0px;
  }

  to {
  
    left:75%; top:0px;
  }
  }

