<h3 style="text-align: center;font-size: 22px; color: rgb(54, 112, 160);"> نقاطي <span class="badge badge-info" style="color: white;">{{pointCount}}</span>  </h3>

<div class="row">
    <div class="col-12 col-md-3 col-lg-4" *ngFor="let point of points">
        <div class="cc">
            <span class="chip"></span>
            <span class="nubank-logo"></span>
            <span class="mastercard"></span>
            <span class="cc-number"> النقاط {{point.points}} </span>
            <span class="cc-date expedition"> كلفة التحويل {{point.money}} </span>
            <!-- 
        <span class="cc-date expedition">01/14</span>
        <span class="cc-date expiry">01/99</span>
        <span class="cc-name">Cassio Cardoso</span> -->
        </div>
    </div>
    <div class="card col-12"  *ngIf="points.length==0">
        <div class="card-body">
            لايوجد نقاط لديك
        </div>
    </div>
</div>
<h3 style="text-align: center;font-size: 22px;color: rgb(54, 112, 160);">النقاط في المدن </h3>
<div class="row">
    <div class="col-12">
        <div class="card table-responsive-lg">
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="table-info">
                        <th> المدينة</th>
                        <th> النقاط</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let countriesPoint of countriesPoints">
                            <td>
                                {{countriesPoint.name}}
                            </td>
                            <td>
                                {{countriesPoint.points}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>