<toaster-container></toaster-container>
<!-- <div class="card">
    <div class="card-body">

        <div class="row row-border">
            <div class="col-11">
                <h4> يجب ان يحوي الملف الحقول التالية
                </h4>
            </div>
            <div class="col-1">
                X
            </div>
            <div class="col-12">
                <table class="table">
                    <thead>
                        <th>الكود</th>
                        <th>اسم المستلم</th>
                        <th>المدينة </th>
                        <th>كلفة الطلب</th>
                        <th>عنوان المستلم</th>
                        <th>رقم الهاتف</th>
                    </thead>
                </table>
            </div>
            
        </div>
        <h3> اختر ملف</h3>
    </div>
</div> -->
<div draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row bg-row">
        <div class="col-md-12 text-center bg-col">
            <img [src]="src" width="50" height="50"> <br><br>
            <h4 *ngIf="fileName">{{fileName}}
                <button class="btn btn-primary" (click)="UploadExcel()" *ngIf="fileName">حفظ</button>
            </h4>
            <br>
            <a class="btn btn-light" href="javascript:void(0)" (click)="file.click()" style="padding: 15px 30px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-clipboard-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                    <path
                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                </svg>
                قم بفتح ملف
            </a>
            <br><br>
            <h4>او قم بسحب ملف الى هنا</h4>

            <input type="file" #file [multiple]="false" (change)="selectFile($event)" style="display:none"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        </div>
    </div>
</div>
<!-- <div class="card" *ngIf="filelist.length>0">
    <div class="card-body">
        <table class="table">
            <thead>
                <th>الكود</th>
                <th>اسم المستلم</th>
                <th>المدينة </th>
                <th>كلفة الطلب</th>
                <th>عنوان المستلم</th>
                <th>رقم الهاتف</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of filelist">
                    <td>{{order.Code}}
                        <h4 class="CRed" *ngIf="!order.Code">ـــــ</h4>
                    </td>
                    <td>{{order.RecipientName}}</td>
                    <td>{{order.CountryId}}
                        <h4 class="CRed" *ngIf="!order.CountryId">ـــــ</h4>
                    </td>
                    <td>{{order.Cost}}
                        <h4 class="CRed" *ngIf="!order.Cost">ـــــ</h4>
                    </td>
                    <td>{{order.Address}}
                        <h4 class="CRed" *ngIf="!order.Address">ـــــ</h4>
                    </td>
                    <td>{{order.RecipientPhones}}
                        <h4 class="CRed" *ngIf="!order.RecipientPhones">ـــــ</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->