.row-border {
    background-color: rgba(0, 225, 255, 0.507);
    border: 2px rgb(0, 225, 255) solid;
    border-radius: 1%;
    padding: 5px;
}

table,
thead {
    border: 2px rgb(0, 225, 255) solid;
}

p {
    font-family: Lato;
}

.error {
    color: #f00;
}

.dragarea {
    font-size: 1.5rem;
    border: 3px solid #bbb;
    padding: 1.5rem;
    background-color: rgb(61, 153, 245);
    color: #bbb;
}

.droparea {
    font-size: 1.5rem;
    border: 3px dashed #bbb;
    padding: 1.5rem;
    background-color: #eff;
    color: #aaa;
}