<div class="animated fadeIn">
  <div class="row mb-4">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="callout callout-info">
            <small class="text-muted">عدد الطرود الكلي </small>
            <br />
            <strong class="h4">{{ CStatics.totalOrder }}</strong>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="callout callout-danger">
            <small class="text-muted"
              >عدد الطرود التي مبالغها داخل الشركة
            </small>
            <br />
            <strong class="h4">{{ CStatics.orderMoneyInCompany }}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="callout callout-warning">
            <small class="text-muted">عدد الطرود تم تسليمها الى الزبون</small>
            <br />
            <strong class="h4">{{ CStatics.orderDeliverdToClient }}</strong>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="callout callout-success">
            <small class="text-muted">عدد الطرود تم استلام مبالغها</small>
            <br />
            <strong class="h4">{{ CStatics.orderMoneyDelived }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 col-md-4">
      <div class="card text-white dashboard-card">
        <div class="card-body row">
          <div class="col-8">
            لديك عدد
            <span class="text-value">{{ CStatics.orderInWat }}</span> طلبات في
            الطريق
          </div>
          <div class="h1 text-muted text-center col-4">
            <div class="text-icon"><i class="icon-report"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card text-white dashboard-card">
        <div class="card-body row">
          <div class="col-8">
            لديك عدد
            <span class="text-value">{{ CStatics.orderInStore }}</span> طلبات في
            المخزن
          </div>
          <div class="h1 text-muted text-center col-4">
            <div class="text-icon"><i class="icon-report"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card text-white dashboard-card">
        <div class="card-body row">
          <div class="col-8">
            لديك عدد
            <span class="text-value">{{ CStatics.orderWithClient }}</span> طلبات
            في انتظار استلامها من الشركة
          </div>
          <div class="h1 text-muted text-center col-4">
            <div class="text-icon"><i class="icon-report"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <div class="progress-group">
        <div class="progress-group-header">
          <div>عدد الطرود الكلي</div>
          <div class="ml-auto font-weight-bold">{{ CStatics.totalOrder }}</div>
        </div>
      </div>
      <p-progressBar
        [value]="100"
        [showValue]="false"
        styleClass="p-progressbar-1"
      ></p-progressBar>
      <div class="progress-group">
        <div class="progress-group-header align-items-end">
          <div>الطلبات المرتجعة داخل الشركة</div>
          <div class="ml-auto font-weight-bold mr-2">
            {{ CStatics?.orderComplitlyReutrndInCompany }}
          </div>
          <div class="text-muted small">
            (
            {{
              CStatics?.orderComplitlyReutrndInCompany > 0
                ? (CStatics.totalOrder /
                    CStatics?.orderComplitlyReutrndInCompany) *
                  100
                : 0
            }}%)
          </div>
        </div>
      </div>
      <p-progressBar
        [value]="
          CStatics?.orderComplitlyReutrndInCompany > 0
            ? (CStatics.totalOrder / CStatics?.orderComplitlyReutrndInCompany) *
              100
            : 0
        "
        [showValue]="false"
        styleClass="p-progressbar-2"
      ></p-progressBar>
      <div class="progress-group">
        <div class="progress-group-header align-items-end">
          <div>الطلبات المرتجعة تم تسليمها</div>
          <div class="ml-auto font-weight-bold mr-2">
            {{ CStatics?.orderComplitlyReutrndDeliverd }}
          </div>
          <div class="text-muted small">
            (
            {{
              CStatics?.orderComplitlyReutrndDeliverd > 0
                ? (CStatics.totalOrder /
                    CStatics?.orderComplitlyReutrndDeliverd) *
                  100
                : 0
            }}%)
          </div>
        </div>
      </div>
      <p-progressBar
        [value]="
          CStatics?.orderComplitlyReutrndDeliverd > 0
            ? (CStatics.totalOrder / CStatics?.orderComplitlyReutrndDeliverd) *
              100
            : 0
        "
        [showValue]="false"
        styleClass="p-progressbar-3"
      ></p-progressBar>
      <div class="progress-group">
        <div class="progress-group-header align-items-end">
          <div>الطلبات المرتجعة جزئيا</div>
          <div class="ml-auto font-weight-bold mr-2">
            {{ CStatics?.orderPartialReturned }}
          </div>
          <div class="text-muted small">
            (
            {{
              CStatics?.orderPartialReturned > 0
                ? (CStatics.totalOrder / CStatics?.orderPartialReturned) * 100
                : 0
            }}%)
          </div>
        </div>
        <p-progressBar
          [value]="
            CStatics?.orderPartialReturned > 0
              ? (CStatics.totalOrder / CStatics?.orderPartialReturned) * 100
              : 0
          "
        ></p-progressBar>
      </div>
      <p-progressBar
        [value]="
          CStatics?.orderComplitlyReutrndDeliverd > 0
            ? (CStatics.totalOrder / CStatics?.orderComplitlyReutrndDeliverd) *
              100
            : 0
        "
        [showValue]="false"
        styleClass="p-progressbar-4"
      ></p-progressBar>
      <div class="progress-group">
        <div class="progress-group-header align-items-end">
          <div>الطرود المؤجلة</div>
          <div class="ml-auto font-weight-bold mr-2">
            {{ CStatics?.delayedOrder }}
          </div>
          <div class="text-muted small">
            (
            {{
              CStatics?.delayedOrder > 0
                ? (CStatics.totalOrder / CStatics?.delayedOrder) * 100
                : 0
            }}%)
          </div>
        </div>
      </div>
      <p-progressBar
        [value]="
          CStatics?.delayedOrder > 0
            ? (CStatics.totalOrder / CStatics?.delayedOrder) * 100
            : 0
        "
        [showValue]="false"
        styleClass="p-progressbar-5"
      ></p-progressBar>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-6">
      <div class="container p-5">
        <div class="progress" data-percentage="20">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">
            <div>
              74%<br />
              <span>الطلبات الواصلة</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container p-5">
        <div class="progress" data-percentage="20">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">
            <div>
              74%<br />
              <span>الطلبات المرتجعة</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->
  <!-- <div class="row">
    <div class="col-6">
      <div class="cou-title">المحافظات</div>
      <div class="flex flex-warp">
        <span class="t-1"></span>
        <span class="sub-title">الأعلى طلباً</span>
        <span>()</span>
      </div>
      <div class="flex flex-warp">
        <span class="t-2"></span><span class="sub-title">الأكثر وصولاً</span>
        <span>()</span>
      </div>
      <div class="flex flex-warp">
        <span class="t-3"></span><span class="sub-title">الأكثر راجع</span>
        <span>()</span>
      </div>
    </div>
    <div class="col-6">
      <app-map></app-map>
    </div>
  </div> -->
</div>
