<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-4">
        <ng-select #ngSelectComponent appOnReturn [(ngModel)]="createPayment.PaymentWayId" placeholder="طريقة الدفع"
          [ngModelOptions]="{standalone: true}" [closeOnSelect]="true" name="payment" (search)="onSearch($event)"
          style="width: 100%;">
          <ng-option *ngFor="let payment of PaymentWay" [value]="payment.id">{{payment.name}}</ng-option>
        </ng-select>
        <br>
      </div>
      <div class="col-12 col-md-8">
        <textarea name="ClientNote" [(ngModel)]="createPayment.Note" style="width: 100%;" name="textarea-input" rows="2"
          class="form-control" placeholder="ملاحظات"></textarea>
      </div>
      <div class="col-12 col-md-2" style="text-align: center;">
        <br>
        <button class="btn btn-primary" (click)="AddPayment()" style="width: 90%;">اضافة</button>
      </div>
    </div>
  </div>
</div>
<div class="card table-responsive-lg">
  <table class="table table-striped">
    <thead class="table-info">
      <th>الرقم</th>
      <th>طريقة الدفع</th>
      <th>الحالة</th>
      <th> ملاحظات</th>
    </thead>
    <tbody>
      <tr *ngFor="let payment of Payments">
        <td>{{payment.id}}</td>
        <td>{{payment.paymentWay.name}}</td>
        <td>{{payment.accept?'مقبول':'مرفوض'}}</td>
        <td>{{payment.note}}</td>
      </tr>
      <tr *ngIf="Payments.length==0">
        <td colspan="3">لا يوجد عناصر </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row ">
  <div class="col-5 ">
    <pagination [boundaryLinks]="showBoundaryLinks" [directionLinks]="showDirectionLinks" [firstText]="'الاول'"
      [previousText]="'السابق'" [nextText]="'التالي'" [lastText]="'الاخير'" [rotate]="true" [totalItems]="totalItems"
      [itemsPerPage]="4" [maxSize]="1" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
<toaster-container></toaster-container>