<div class="card" *ngIf="filelist.length>0">
    <div class="card-body">
        <table class="table">
            <thead>
                <th>الكود</th>
                <th>اسم المستلم</th>
                <th>المدينة </th>
                <th>كلفة الطلب</th>
                <th>عنوان المستلم</th>
                <th>رقم الهاتف</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of filelist">
                    <td>{{order.Code}}
                        <h4 class="CRed" *ngIf="!order.Code">ـــــ</h4>
                    </td>
                    <td>{{order.RecipientName}}</td>
                    <td>{{order.CountryId}}
                        <h4 class="CRed" *ngIf="!order.CountryId">ـــــ</h4>
                    </td>
                    <td>{{order.Cost}}
                        <h4 class="CRed" *ngIf="!order.Cost">ـــــ</h4>
                    </td>
                    <td>{{order.Address}}
                        <h4 class="CRed" *ngIf="!order.Address">ـــــ</h4>
                    </td>
                    <td>{{order.RecipientPhones}}
                        <h4 class="CRed" *ngIf="!order.RecipientPhones">ـــــ</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>