<div class="card">
    <div class="card-body">
        <h3>تصحيح الملفات</h3>
        <table class="table">
            <thead class="table-info">
                <th>الكود</th>
                <th>اسم المستلم</th>
                <th>المدينة </th>
                <th>كلفة الطلب</th>
                <th>عنوان المستلم</th>
                <th>رقم الهاتف</th>
                <th>ارسال</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of filelist">
                    <td>{{order.code}}
                    </td>
                    <td>{{order.recipientName}}</td>
                    <td>
                        <h5>{{order.country}}</h5>
                        <ng-select appOnReturn [(ngModel)]="order.countryId" [ngModelOptions]="{standalone: true}"
                        [closeOnSelect]="true" name="Country" style="width:100%;margin: 1px;">
                        <ng-option *ngFor="let Country of Countries" [value]="Country.id">{{Country.name}}</ng-option>
                      </ng-select>
                    </td>
                    <td>{{order.cost}}
                    </td>
                    <td>{{order.address}}
                    </td>
                    <td>{{order.recipientPhones}}
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="send(order)">ارسال</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>