.dashboard-card {
  background: linear-gradient(
    to right bottom,
    rgba(0, 17, 56, 0.4),
    rgba(0, 17, 56, 1)
  ) !important;
  border-radius: 15px !important;
  border: none !important;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  .card-body {
    align-items: center;
  }
}
.text-icon {
  color: rgba(189, 35, 34, 1) !important;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}
