.icon-logo {
  content: url(../assets/logos/quqaz-logo.svg);
  width: 13vw;
}
.icon-report {
  content: url(../assets/logos/icon-report.svg);
}
.icon-arrow-down {
  content: url(../assets/icon/icon-park-outline_drop-down.svg);
}
.icon-arrow-up {
  content: url(../assets/icon/icon-park-outline_drop-up.svg);
}
.icon-report-order {
  content: url(../assets/icon/icon-report.svg);
}
.icon-lock {
  content: url(../assets/icon/lock-icon.svg);
  width: 13px;
}
.icon-fa {
  content: url(../assets/icon/facebook-icon.svg);
  background-color: rgba(59, 89, 152, 1);
  border-radius: 50%;
  padding: 2px 5px;
}
.icon-insta {
  content: url(../assets/icon/instagram-icon.svg);
  background-color: rgba(193, 53, 132, 1);
  border-radius: 50%;
  padding: 2px;
  font-size: 0.5rem;
}
.icon-search {
  content: url(../assets/icon/icon_search.svg);
}
.icon-notification {
  content: url(../assets/icon/notification-icon.svg);
}
